[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
pytz = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
docker = "*"
coverage = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest -sx --ff"
test_coverage = "coverage run -m pytest"